<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  
  <link rel="stylesheet" type="text/css" href="css/top.css">

  <title>サンプルのトップページ</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card center">
          <div>
            <img src="../images/jquery.png" width="75%">
            <p class="card-text">jQueryのサンプル</p>
            <a href="jquery.html"></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card center">
          <div>
            <img src="../images/react.png" width="75%">
            <p class="card-text">Reactのサンプル</p>
            <a href="react.html"></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card center">
          <div>
            <img src="../images/vue.png" width="75%">
            <p class="card-text">Vue.jsのサンプル</p>
            <a href="vue.html"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
