.tmp-space {
  padding: 0.75rem 0.5rem;
  margin: 1.25rem 0;
  background: repeating-linear-gradient(to top left,
    #DCDCDC, #DCDCDC 5px, #F9F9F9 5px, #F9F9F9 10px);
  background-size: 14px 14px;
}
